<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>4559e8696247b2066f5ab358314210d1</string>
	<key>sessionId</key>
	<string>6ace949bb1b6589f1ecfec795d17d8bcae6b4f8d</string>
</dict>
</plist>
